.eczmnE:not(.using-icon).active {
    border: 3px solid #FFF !important;
}

.eczmnE:not(.using-icon).active,
.gJAGSz.active {
    background: var(--primary) !important;
}

.gJAGSz.active {
    color: #fff !important;
}

.ToolbarWrapper-sc-exupb5-0 {
    display: none !important;
}

.CardImage-sc-1yk7mm5-1 {
    object-position: top !important;
}